@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Beethoven.Sample Host</h1>
    <p class="lead">A sample plugin based web application host composed by Beethoven</p>    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Beethoven</h2>
        <p>
            A lightweight framework for building plugin based web applications using Asp.Net MVC and MEF.
        </p>
        <p><a class="btn btn-default" href="https://github.com/spartanbeg/Beethoven">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Beethoven.Plugins</h2>
        <p>A package that is used to develop/extend plugins for the host composed by Beethoven</p>
        <p><a class="btn btn-default" href="https://github.com/spartanbeg/Beethoven.Plugins">Learn more &raquo;</a></p>
    </div>
</div>